<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<div id="app">
    <div class="row g-3 align-items-center">
        <h2>Tạo phòng</h2>
        <div class="col-auto">
            <label for="txtName" class="col-form-label">Tên phòng</label>
        </div>
        <div class="col-auto">
            <input type="text" class="form-control" id="txtName">
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-outline-primary" v-on:click="createRoom">Tạo</button>
        </div>
    </div>
    <div style="height: 3rem;"></div>
    <div class="row g-3 align-items-center">
        <h2>Danh sách phòng</h2>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col" v-for="r in rooms">
                <div class="card text-dark bg-light">
                    <div class="card-body">
                        <h5 class="card-title">Tên phòng: {{ r.Name }}</h5>
                        <p class="card-text">Mã phòng: {{ r.Id }}</p>
                        <a class="btn btn-outline-danger" v-bind:href="'/Home/Chess?roomid='+ r.Id">Tham gia</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var app = new Vue({
        el: '#app',
        data: {
            rooms: []
        },
        methods: {
            getListRoom() {
                axios.get('/api/chess/getrooms')
                    .then(response => {
                        if (response.data.message == "success") {
                            this.rooms = response.data.data;
                        }
                    }).catch(error => {
                        console.log(error);
                    }).finally();
            },
            createRoom() {
                var name = $("#txtName").val();
                var payload = { RoomName: name };
                axios.post('/api/chess/insertroom', {
                    rmodel: payload
                }).then(response => {
                    if (response.data.message == "success") {
                        this.getListRoom();
                    }
                }).catch(error => {
                    console.log(error);
                }).finally();
            }
        },
        mounted: function () {
            this.getListRoom();
        }
    })
</script>
